<main class="flex f-col align-center justify-center">
<h2 class="main-heading"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1.2em" width="1.2em" xmlns="http://www.w3.org/2000/svg"><path d="M0 512V48C0 21.49 21.49 0 48 0h288c26.51 0 48 21.49 48 48v464L192 400 0 512z"></path></svg> BookMark Manager</h1>

<%= form_with model: @user, html:{class: "flex f-col align-center justify-around login"} do |form|%>

<%= form.label "Name", for:"name", class:"label"%>
<%= form.text_field :name, required: true, class:"input", placeholder:"bookmark@manager.pk" %>

<%= form.label "Email", for:"email", class:"label"%>
<%= form.email_field :email, required: true, class:"input", placeholder:"bookmark@manager.pk" %>

<%= form.label "Password", for:"password", class:"label"%>
<%= form.password_field :password, required: true, class:"input", placeholder: "sTr@nG password"%>

<%= form.button "Sign up", type: "Submit", class:"button btn-primary"%>
<span>or</span>
<%= link_to 'Login', users_path,  class:"button btn-secondary flex align-center justify-center no-decorations"%>
<%end%>

</main>

